@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  /* MODO DÍA: Este es su "Celeste Especial" */
  /* Un degradado sutil que definiremos abajo en el body */
  --background: #e0f2fe; /* Color base (Sky-100) por si acaso */
  --foreground: #0f172a;
}

/* MODO OSCURO */
.dark {
  /* OJO: Aquí ponemos TRANSPARENT para que se vean las estrellas de fondo */
  --background: transparent;
  --foreground: #ededed;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  /* AQUÍ ESTÁ LA MAGIA DEL FONDO: */
  /* Si es de día: Degradado Celeste (Cyan a Azulito) */
  /* Si es de noche: Transparente (para ver estrellas) */
  background: #3d4e6d;

  color: var(--foreground);
  min-height: 100vh;
}

/* En modo oscuro, quitamos el degradado celeste para que se vea el negro/estrellas */
.dark body {
  background: none;
}

/* --- AGREGUE ESTO AL FINAL DE globals.css --- */

/* Ocultar flechas (spinners) en inputs numéricos */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
